<!doctype html>
<html>
  <head>
    <title>burger-slayer</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <script src="./socket.io/socket.io.js"></script>
    <!--<script src="./peerjs.min.js"></script>-->
    <!--<script>-->
      <!--const peer = new Peer({-->
        <!--host: location.hostname,-->
        <!--port: location.port || (location.protocol === 'https:' ? 443 : 80),-->
        <!--path: '/peerjs'-->
      <!--});-->
      <!--const conn = peer.connect('burger-beast');-->
      <!--conn.on('open', () => { console.log('connection established'); });-->
      <!--document.body.addEventListener('click', () => {-->
        <!--conn.send('clicked!');-->
      <!--});-->
    <!--</script>-->
    <script>
      const socket = io.connect();
      const action = () => {
        document.body.setAttribute('style',
          `background-color: rgb(
            ${Math.round(255*Math.random())},
            ${Math.round(255*Math.random())},
            ${Math.round(255*Math.random())});`
        );
        socket.emit('throw_burger', 'clicked!');
      };
      document.body.addEventListener('click', action);
      document.body.addEventListener('touchstart', action);
    </script>
  </body>
</html>
